---
layout: default
title: "xuanyan's blog"
description: "Personal blog of XuanYan, in which he writes about web development and some other things."
---
{% for page in paginator.posts %}
{% assign body = page.content %}
{% include post-div.html %}
<p><a href="http://xuanyan.org{{ page.url }}#disqus_thread">Link</a></p>
{% endfor %}

<ul class="pagination">
{% if paginator.previous_page %}
<li><a href="{{ paginator.previous_page_path }}">«</a></li>
{% endif %}

{% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
    <li class="active"><a href="#">{{ page }}</a></li>
  {% elsif page == 1 %}
    <li><a href="/index.html">{{ page }}</a></li>
  {% else %}
    <li><a href="{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a></li>
  {% endif %}
{% endfor %}

{% if paginator.next_page %}
<li><a href="{{ paginator.next_page_path }}">»</a></li>
{% endif %}
</ul>

<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'xuanyan'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>