---
layout: default
title: "xuanyan's blog"
description: "Personal blog of XuanYan, in which he writes about web development and some other things."
---

{% for post in paginator.posts %}
<div class="page-header">
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
</div>
{{ post.excerpt }}
<ul class="nav nav-pills" role="tablist">
  <li role="presentation"><a href="{{ post.url }}"><span class="glyphicon glyphicon-plus"></span>Read More</a></li>
  <li role="presentation"><a href="http://xuanyan.org{{ post.url }}#container">Link</a></li>
  <li role="presentation" class="disabled"><a href="#">{{ post.date | date_to_long_string }}</a></li>
</ul>
{% endfor %}

{% include pagination.html %}