<style type="text/css" media="screen">
#dsq-content h3 {
    line-height: 10px;
    font-size: 0.8em;
}

#dsq-content a {
    font-size: 0.8em;
    font-weight: normal;
    border-bottom: 1px dotted #D3DFEE;
    color: #004491;
    text-decoration: none;
}
</style>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'xuanyan'; // required: replace example with your forum shortname
    var disqus_developer = 1;
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>